:root {
  --gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --error: hsl(0, 100%, 66%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 95vh;
  width: 100%;
}

.left {
  position: relative;
  min-width: 400px;
  background: linear-gradient(to bottom right, hsl(278, 68%, 11%) 40%, #c96a6d 80%, hsl(278, 68%, 11%));
}

.card{
  width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.4);
}

.card-front{
  position: absolute;
  top: 30%;
  left: 60%;
  background-image: linear-gradient(to bottom right, hsl(249, 99%, 64%) 30%, #c96a6d, hsl(249, 99%, 64%));
  /* transform: translate(60%, 60%); */
  padding: 25px;
  color: #FFF;
}

.card-front-circle{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.card-front-circle>span{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #FFF;
  border-radius: 50%;
}

.card-front-circle>span:nth-child(2){
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.card-front-number{
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.card-front-detail{
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.card-back{
  position: absolute;
  top: 60%;
  left: 85%;
  background-color: var(--Light-grayish-violet);
  /* transform: translate(90%, 80%); */
}

.card-back-strip{
  height: 40px;
  width: 100%;
  background-color: #2f2f2f;
  transform: translate(0%, 50%);
}

.card-back-cvc{
  display: flex;
  justify-content: right;
  align-items: center;
  color: #FFF;
  font-size: 12px;
  margin: 40px 30px 0 30px;
  padding: 0 10px;
  height: 30px;
  background-color: #adb5bf;
  border-radius: 5px;
}

.card-back-info{
  margin: 30px 80px 0 80px;
}

.info-line{
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.info-line>span{
  display: inline-block;
  height: 4px;
  border-radius: 10px;
  background-color: #adb5bf;
}

.info-line-1>span:nth-child(1){
  width: 50%;
}
.info-line-1>span:nth-child(2){
  width: 15%;
}
.info-line-1>span:nth-child(3){
  width: 15%;
}
.info-line-1>span:nth-child(4){
  width: 5%;
}

.info-line-2>span:nth-child(1){
  width: 10%;
}
.info-line-2>span:nth-child(2){
  width: 25%;
}
.info-line-2>span:nth-child(3){
  width: 25%;
}
.info-line-2>span:nth-child(4){
  width: 5%;
}

.info-line-3>span:nth-child(1){
  width: 5%;
}
.info-line-3>span:nth-child(2){
  width: 10%;
}
.info-line-3>span:nth-child(3){
  width: 10%;
}
.info-line-3>span:nth-child(4){
  width: 60%;
}

.right {
  background-color: #fff;
  height: 100%;
  min-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 50%;
  transform: translate(20%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exp-cvc {
  display: flex;
  gap: 20px;
}

.month-year {
  display: flex;
  gap: 20px;
}

.month-year > input {
  width: 100px;
}

label {
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 12px;
}

input {
  cursor: pointer;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--Light-grayish-violet);
  border-radius: 10px;
}


input::placeholder {
  font-size: 16px;
  color: var(--Light-grayish-violet);
}

.error{
  display: none;
  color: var(--error);
  font-weight: bolder;
  font-size: 8px;
}

#submit, #continue{
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: var(--Very-dark-violet);
  color: #FFF;
}

#submit:disabled{
  background-color: var(--Light-grayish-violet);
  color: var(--Dark-grayish-violet) 
}

.thank-you-container{
  display: none;
}

.thank-you{
  display: flex;
  min-width: 40%;
  transform: translate(20%, 0%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you>.tick-circle{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick-circle>div{
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  border-bottom: 3px solid #FFF;
  border-right: 3px solid #FFF;
}

.thank-you>h1{
  text-transform: uppercase;
  font-weight: lighter;
  margin: 20px 0
}

.thank-you>p{
  color: var(--Dark-grayish-violet)
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
}
